body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.search-bar {
  background-color: #333;
  color: white;
  padding: 50px;
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 1;
}

#searchButton {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  border: none;
  padding: 10px 20px; /* Adjust the padding for desired size */
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Style the Search button on hover */
#searchButton:hover {
  background-color: #0056b3;
}

#searchProduct {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 20px 0px 20px; /* Adjusted margin */
}

.product-item {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #f9f9f9;
  text-align: center;
  /* float: left; */
  display: flex;
  /* justify-content: space-around; */
  margin-right: 10px;
  /* border: 2px solid red; */
}

.product-image {
  width: 20%;
  /* border: 2px solid yellow; */
}

.product-details {
  width: 60%;
  /* border: 2px solid red; */
}

.product-item strong {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #333;
}

img {
  width: 100%;
  height: 100%;
}

/* @media screen and (max-width: 768px) {
  .product-item {
    width: calc(50% - 20px);
  }
} */

@media screen and (max-width: 625px) {
  .search-bar {
    padding: 30px;
  }

  #searchProduct {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .search-results{
    /* border:2px solid black; */
    flex-direction: column;
    margin: 0;
  }
  .product-item{
    width: 80%;
    margin:20px 0px;
    /* margin:50px 20px 0px 40px; */
  }
}

@media screen and (max-width: 323px) {
  .search-bar {
    padding: 10px;
  }

  .product-image{
    width:40%;
  }
  .product-details{
    font-size: 15px;
  }

  #searchProduct {
    width: 50%;
  }
}
