body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: rgb(50, 49, 49);
  font-size: 35px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 10vh;
}

.navbar i {
  font-size: 40px;
  color: white;
  margin-right: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.navbar a {
  color: white;
}

/* Media Query for responsiveness */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar a {
    padding: 10px;
  }
}

.center-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

label::after{
  content:'*';
  color:red;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#image-preview {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  display: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
